services:
  master:
    build:
      context: .
      dockerfile: go-master/Dockerfile.master
    ports:
      - "50051:50051"
    volumes:
      # Mount the whole root so we can access any file relative to it
      - .:/app
    environment:
      - FILE=${FILE}
    # We pass the FILE variable directly to the binary
    command: ./master_bin /app/${FILE}

  worker-swarm:
    build:
      context: .
      dockerfile: python-worker/Dockerfile.worker
    environment:
      # Use MASTER_ADDR from Makefile, else default to 'master:50051'
      - MASTER_ADDR=${MASTER_ADDR:-master:50051}
      # Use CORES from Makefile, else default to 1
      - CORES=${CORES:-1}
    depends_on:
      - master
